html,
body {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 19px;
  line-height: 37px;
  letter-spacing: 0.02em;
  font-family: sans-serif;
  font-weight: 400;
  background-color: rgb(232, 225, 168);
}

a {
  color: #f18b06;
  text-decoration: dotted;
}

a:hover {
  color: #f10606;
}

* {
  box-sizing: border-box;
}

/**********  CONTAINER  **********/
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 3rem 0;
}

.row {
  display: flex;
  padding-top: 20px;
}

.column {
  padding: 15px;
  align-self: center;
}

.column.left {
  flex: 60%;
}
.column.right {
  flex: 20%;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .column.right {
    flex: 100%;
  }
  .column.left{
    flex: 90%;
  }
}

/**********  HEADER  **********/

.header {
  padding: 20px 10px;
  border-bottom: 2px dashed;
}

.header_name {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  font-variant: small-caps;
  line-height: 32px;
}

.navbar {
  text-align: center;
  float: right;
  font-family: 'Courier New', Courier, monospace;
}

.navbar a {
  display: inline-block;
  margin-left: 50px;
  font-weight: bold;
  color: #000;
  /* color: rgb(214, 210, 210); */
}

.header a:hover {
  color: rgb(247, 25, 25);
}

.navbar .active {
  color: rgb(247, 25, 25);
}

.main {
  text-align: justify;
}

.mainHome{
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.mainHome i {
  font-weight: 150;
}

.bullet_list {
  padding-left: 24px;
  margin-left: 0;
}

.socials img {
  padding: 15px;
  border-radius: 5px;
  width: 56px;
  height: 56px;
}

.socials img:hover {
  padding: 18px;
  width: 56px;
  height: 56px;
  background-color: #a9e8ed;
}

@media (max-width: 700px) {
  .home-image {
    max-height: 400px;
  }
}

.card__blog{
  color: black;
}

.card__blog h4 {
  margin-bottom: 0.3rem;
  color: #000;
}

.card__blog:hover h4{
  color: #f10606;
}

.card__blog__date{
  color: #4d4d4d;
  font-size: 16px;
}
